@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?axqle5');
  src:  url('../fonts/icon.eot?axqle5#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?axqle5') format('truetype'),
    url('../fonts/icon.woff?axqle5') format('woff'),
    url('../fonts/icon.svg?axqle5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
}
.icon-ins:before {
  content: "\e901";
}
.icon-tw:before {
  content: "\e902";
}
.icon-yt:before {
  content: "\e903";
}
