//wrapper
.wrapper{width: 100%; min-height: 100%; overflow: hidden;
   display: flex; flex-direction: column;
   &.loaded{}
}

//ui kit
@import '_nullstyle';
@import '_variables';
@import '_anims';
@import '_mixins';
@import "_forms";
@import "_ui";
@import "_ibg";
@import "_popups";

//components
@import "_header";
@import "_footer";

//body
body {
   background-color: $_grey;
   position: relative;
}

//main
.main {
   flex: 1 1 auto;
}
//===============================================================================================================
// section banner
.banner {
   position: relative;
   width: 100%;
   height: 100%;

   .container {
      position: relative;
      z-index: 4;
   }

   &__content {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100vh;
   }

   &__body {
      max-width: 516px;
      @media (max-width: $md2) {
         max-width: 63%;
      }
   }

   &__title {
      font-family: $ff1;
      font-style: normal;
      font-weight: 400;
      font-size: 110px;
      line-height: 90%;
      text-transform: uppercase;
      color: #FFFFFF;

      @media (max-width: $md2) {
         font-size: 90px;
      }
      @media (max-width: $md3) {
         font-size: 80px;
      }

   }

   &__text {
      font-family:   $ff2;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: #FFFFFF;

      margin: 12px 0 26px;

      @media (max-width: $md2) {
         font-size: 16px;
      }
      @media (max-width: $md3) {
         font-size: 14px;
      }
   }
}
.form-banner {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 4;

   width: 100%;
   @media (max-width: $md2) {
      position: relative;
      top: 0;
      left: 0;
      margin: -15% 0 0 0;
   }

   &__body {
      padding: 30px 40px;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);

      display: flex;
      align-items: center;

      @media (max-width: $md2) {
         display: block;
         max-width: 100%;
         margin: 0 auto;
         padding: 40px;
         max-width: 500px;
      }
   }

   &__inputs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;

      @media (max-width: $md2) {
         display: block;
         margin: 0;
      }
   }

   &__column {
      max-width: 100%;
      width: 100%;
      padding: 0 10px;
      @media (max-width: $md2) {
         max-width: 100%;
         margin: 0 0 30px 0;
      }
      input {
         background-color: $_white;
         width: 100%;
         @media (max-width: $md1) {width: 100%;} 
      }
   }

   &__button {padding: 0 10px;}
}

//===============================================================================================================
// section easy-start
.easy-start {

   &__body {
      display: grid;
      grid-template-columns: 5.8fr 4.2fr;
      gap: 20px;
      @media (max-width: $md3) {
         display: block;
      }
   }

   &__content {
   }

   &__title {
      margin: 0 0 26px;
   }

   &__text {
      margin: 0 0 32px 0;
   }

   &__button {
   }

   &__image {
      padding: 66px 0 0 0;
      height: 100%;
      width: 100%;
      @media (max-width: $md3) {
         height: 350px;
         padding: 40px 0 0 0;
      }
   }

   &__image-container {
      display: block;
      width: calc(100% - 10px);
      height: calc(100% - 13px);

      position: relative;
      z-index: 2;

      &::after {
         content: "";
         position: absolute;
         top: 13px;
         right: -10px;
         z-index: -1;
         width: 100%;
         height: 100%;
         background: $_pink;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
}
//===============================================================================================================
// section classes
.classes {
   position: relative;

   &__title {
      position: relative;
      z-index: 2;
      text-align: center;
      max-width: 680px;
      margin: 0 auto 35px;
      .title-block__title {
         color: $_white;
      }
      .title-block__head{
         padding: 0;
         &::before {
            display: none; 
         }
      }
   }

   &__body {
      position: relative;
      z-index: 2;
   }

   &__slider {
      .swiper-scrollbar {display: none;}
         @media (max-width: $md3) {
            .swiper-button-next, .swiper-button-prev {
               display: none;
            }
      }
   }

   &__item {
   }

   &__back {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      min-height: 100%;
   }
}
.cart-item {

   &__content {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 0 20px 43px;

      font-family: $ff1;
      font-style: normal;
      font-weight: 400;
      color: $_white;
      text-transform: uppercase;

      display: flex;
      flex-direction: column;
      justify-content: end;

   }

   &__description {
      padding: 0 0 10px;
      border-bottom: 1px solid $_white;
   }

   &__head {
      font-size: 18px;
      line-height: 22px;
      color: $_pink;
      margin:  0 0 10px 0;
   }

   &__title {
      font-size: 28px;
      line-height: 100%;
   }

   &__link {
      font-size: 18px;
      line-height: 100%;
      padding: 18px 0 0;
      
      a {
         position: relative;
         display: block;
         color: $_white;
         transition: all .3s ease;
         &:hover {
            color: $_pink;
         }
         &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            width: 20px;
            height: 14px;
            background: url('../img/icons/arrow.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

         }
      }
   }

   &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }
}
//===============================================================================================================
// section about
.about {
   position: relative;
   opacity: 0;
   &.visible {
      opacity: 1;
   }

   .container {
      position: relative;
   }

   &__social {
      @media (max-width: $md4) { display: none; }
   }

   &__body {
      position: relative;
      z-index: 5;
   }

   &__content {
      max-width: 56%;
      @media (max-width: $md3) {
         max-width: 60%;
      }
      @media (max-width: $md4) {max-width: 100%;}
   }

   &__title {
      margin: 0 0 26px 0;
   }

   &__text {
      margin: 0 0 54px 0;
   }

   &__button {
   }
   
   &__back {
      min-height: 100%;
      .back__woman {
         min-height: 100%;
         @media (max-width: $md3) {
            right: -40%;
            width: 100%;
         }
         @media (max-width: $md4)  {
            width: 120%;
            opacity: .5;
         }
      }
      img {
         object-fit: contain;
         object-position: bottom;
      }
      .back__pink {
         @media (max-width: $md3) {
            width: 20%;
         }
      }
   }
} 
//===============================================================================================================
// section price
.price {
   padding: 100px 0;
   position: relative;
   @media (max-width: $md1) {padding: 80px 0 60px;}
   @media (max-width: $md2) {padding: 60px 0 40px;}
   @media (max-width: $md3) {padding: 50px 0 20px;}
   @media (max-width: $md4) {padding: 40px 0 20px;}

   &__body {
      text-align: center;
      position: relative;
      z-index: 6;
   }

   &__title{     
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .title-block__title {
         color: $_white;
         max-width: 800px;
      }
      margin: 0 0 65px 0;
      @media (max-width: $md1) {margin: 0 0 55px 0;}
      @media (max-width: $md3) {margin: 0 0 35px 0;}
   }

   &__content {
      display: grid;
      grid-template-columns:  1fr 1fr 1fr;
      gap: 20px;
      @media (max-width: $md1) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__item {
      &:nth-child(2) {
         background-color: $_pink;
      }
   }

   &__back {
      min-height: 100%;
      height: 100%;
      .ibg {
         height: 100%;
      }
   }
}
.price-item {
   padding: 52px 40px;
   background-color: $_lightBlack;
   color: $_white;
   font-style: normal;
   font-weight: 400;
   transition: all .3s ease;
   cursor: pointer;
   user-select: none;

   max-width: 380px;
   min-width: 280px;
   width: 100%;
   height: 380px;
   @media (max-width: $md4) {
      padding: 42px 20px 32px;
   }

   &:hover {
      background-color: $_white;
      color: $_lightBlack;
      .btn {
         border: 1px solid $_lightBlack;
         color: $_lightBlack; 
         &:hover {
            color: $_white;
         }
      }
   }

   &__title {
      font-family: $ff1;
      font-size: 28px;
      line-height: 100%;
      text-transform: uppercase;

      margin: 0 0 8px 0;
      @media (max-width: $md4) {
         font-size: 25px;
         letter-spacing: 0.05em;
      }
   }

   &__description {
      font-family: $ff2;
      font-size: 18px;
      line-height: 130%;
   }

   &__price {
      font-family: $ff1;
      font-size: 70px;
      line-height: 100%;
      text-transform: uppercase;
      margin: 44px 0 52px;
   }

   &__link {
   }
}
//===============================================================================================================
// section instructors
.instructors {
   position: relative;

   &__body {
   }

   &__title {
      text-align: center;
      max-width: 680px;
      margin: 0 auto 65px;
      .title-block__head::before {
         display: none;
      }
   }

   &__slider {
      position: relative;
      .swiper-button-prev,.swiper-button-next {
         @media (max-width: $md3) {
            display: none;
         }
      }
   }

   &__item {
      .cart-item__content {
         padding: 40px 20px;
      }
      .cart-item__description {
         padding: 0;
         border: none;
      }
      .cart-item__head {
         margin: 0;
      }
   }
}
//===============================================================================================================
// section reviews
.reviews {
   position: relative;
   min-height: 100vh;
   width: 100%;

   &__content {
      .container {
         height: 100%;
      }
      .back {
         .container {
            height: 100%;
            position: relative;
            @media (max-width: $md2) {
               position: static;
            }
         }

         &__woman {
            left: 0;
            min-width: 740px;
            width: 62%;
            z-index: 5;
            @media (max-width: $md2) {left: -10%;}
            @media (max-width: 839px) {left: -20%;}
            @media (max-width: $md3) {display: none;}
         }
      
         &__dark2 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 6;
            min-width: 650px;
            width: 42.5%;
            height: 100%;
            @media (max-width: $md3) {width: 100%; min-width: 100%;}
            .ibg {
               position: absolute;
               top: 0;
               right: 0;
            }
         }
      }     
      
   }

   &__back {
   }

   &__body {
      .swiper-pagination,.swiper-button-prev {
         display: none;
      }
      .swiper-button-next {
         right: 0;
      }
      position: relative;
      z-index: 6;

      width: 440px;
      padding-left: 30px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: start;

      @media (max-width: $md4) {
         width: 100%;
         padding: 0 10px;
      } 
   }

   &__body-container {
      width: 100%;
      height: auto;
   }

   &__title {
      margin: 0 0 20px 0;
      .title-block__head {
         &::after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: 0;
            z-index: 3;
            
            width: 21px;
            height: 15px;

            background: url('../img/icons/quotes.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
         }
      }
   }

   &__slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
   }
}
.reviews-item {
   width: 100%;
   height: 100%;
   max-width: 410px;
   padding-right: 30px;

   letter-spacing: 0.05em;
   font-style: normal;
   font-weight: 400;
   color: $_white;
   @media (max-width: $md4) {max-width: 100%;}

   &__text {
      color: $_white;
      line-height: 130%;
      margin: 0 0 50px 0;
      @media (max-width: $md4) {margin-bottom: 30px;}
   }

   &__autor {
      display: block;
      font-family: $ff1;
      font-style: normal;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.09em;

   }

   &__name {
      display: block;
      font-family: $ff1;
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: 0.09em;
      margin: 0 0 10px 0;
      @media (max-width: $md4) {font-size: 20px; letter-spacing: 0.07em;}
   }

   &__profession {
   }
}
//===============================================================================================================
// section reviews
.goto-up {
   position: fixed;
   bottom: 30px;
   right: 30px;
   z-index: 15;

   height: 50px;
   width: 50px;
   opacity: 0;
   visibility: hidden;
   background-color: $_pink;
   border-radius: 50%;
   transition: all .3s ease;
   cursor: pointer;


   &::before, &::after {
      content: "";
      width: 16px;
      height: 2px;
      background-color: $_white;

      position: absolute;
      top: 47%;
      z-index: 3;
      
   }
   &::before {
      transform: rotate(45deg) translateY(-50%);
      left: 21px;
   }
   &::after {
      transform: rotate(-45deg) translateY(-50%);
      left: 12px;
   }
   span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      display: block;
      width: 0px;
      height: 0px;
      border-radius: 50%;

      transition: all .3s ease;
      background-color: $_pink;
   }

   &:active {
      span {
         opacity: 0;
         width: 120px;
         height: 120px;
      }
   }
}
.goto-up.active {
   opacity: 1;
   visibility: visible;
   bottom: 30px;
   right: 30px;
}
